[% extends 'layout.html' %]

[% block links %][% endblock %]

[% block body%]


<div class="container main-content" id="login-form">

    <form class="form-signin" role="form" data-bind="submit: LoginSubmit">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" name="username" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" name="password" required="">
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>

[% endblock %]