[% extends 'layout.html' %]

[% block body%]


<div class="container">

    <div class="starter-template">
        <h1>Mail Page!</h1>

        <!--Folders View-->
        <ul class="nav nav-tabs" id="mail-folders">
            <!-- ko template: {name: 'mail-folders-tpl', foreach: data} -->
            <!-- /ko -->
            <li><a href="#">+</a></li>
            <li data-bind=" selected: 'New Message', click: createNewMessage "><a href = "#/new">New Message</a></li>
        </ul>

        <!--Grid View-->
        <div id="mails-grid" data-bind="viewSwitch: 'grid' ">
            <form class="form-inline" role="form">
                <div class="row-fluid mailFiltersForm">
                    <label for="visibleForm" class="labelForVisibleForm"><h2>Filters</h2></label>
                    <input type="checkbox" id="visibleForm">

                    <div class="filters">
                        <div class="span1">
                            <label class="sr-only" for="subject">Subject</label>
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                        </div>
                        <div class="span1">
                            <label class="sr-only" for="position">Position</label>
                            <input type="text" class="form-control" id="position" placeholder="Position">
                        </div>
                        <div class="span1">
                            <label class="sr-only" for="organization">Organization</label>
                            <input type="text" class="form-control" id="organization" placeholder="Organization">
                        </div>
                        <div class="span1">
                            <label class="sr-only" for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="span1">
                            <label class="sr-only" for="date">Date</label>
                            <input type="text" class="form-control" id="date" placeholder="Date">
                        </div>
                        <div class="span1">
                            <button type="submit" class="btn btn-default">Filter</button>
                            <button type="submit" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
            <table class="table mails">
                <tr>
                    <th><input type="checkbox" name="selectAll"/></th>
                    <th>Subject</th>
                    <th>Position</th>
                    <th>Organization</th>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
                <!-- ko template: {name: 'mails-grid-tpl', foreach: data} -->
                <!-- /ko -->
            </table>
        </div>
    </div>

    <!--Message View-->
    <div class="col-lg-12" id="single-mail" data-bind="viewSwitch: 'message' ">
        <!-- ko with: messageData -->
        <div class="mail-box-header">
            <div class="pull-right tooltip-demo">
                <a href="mail_compose.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"
                   title="" data-original-title="Reply"><i class="glyphicon glyphicon-arrow-left"></i> Reply</a>
                <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title=""
                   data-original-title="Move to trash"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
            <h2>
                View Message
            </h2>

            <div class="mail-tools tooltip-demo m-t-md">
                <h3>
                    <span class="font-noraml">Subject: </span>{{title}}
                </h3>
                <h5>
                    <span class="pull-right font-noraml">{{date}}</span>
                    <span class="font-noraml">From: </span>{{sender_position}} | {{sender_organization}} |
                    {{sender_user}}
                </h5>
            </div>
        </div>
        <div class="mail-box">
            <div class="mail-body" data-bind="html: body">
            </div>
            <div class="mail-body text-right tooltip-demo">
                <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="glyphicon glyphicon-arrow-left"></i>
                    Reply</a>
                <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="glyphicon glyphicon-share-alt"></i>
                    Forward</a>
                <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash"
                        class="btn btn-sm btn-white"><i class="glyphicon glyphicon-trash"></i> Remove
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /ko  -->
    </div>
</div>

<!--New Message View-->
<div class="container" id = "newmail" data-bind="viewSwitch: 'new' ">
    <div class="starter-template">
        <div>
            <form class="form-inline" role="form" data-bind="submit: saveLetter">
                <div class="row-fluid wrapper-box">
                    <label class="labelForNew">Title</label>
                    <input type="text" placeholder="Введите текст" class="form-control" data-bind = "value: obj.header"><br>

                    <div class="wrapperDiv">
                        <label class="labelForNew">Recipient</label>
                        <input type = "button" class="btn btn-white" data-toggle="modal" data-target="#myModal" data-bind=" popup: '/api/positions.json' " value="Add">
                        <input type = "button" class="btn btn-white" value = "Address book">
                        <br>
                    </div>

                    <label class="labelForNew">Letter's body</label><br>
                    <textarea rows="10" data-bind = "value: obj.body"></textarea><br>

                    <div class="wrapperDiv">
                        <label class="labelForNew">Attach a file</label>
                        <input type="file"><br>
                        <span>Max size: 1.95 Gb.</span><br>
                    </div>
                    <button class="btn  btn-white main-button">Send</button>
                    <button class="btn  btn-white main-button">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>



[% endblock %]

[% block tpls %]

<script type="text/html" id="popup-tpl">
    <div class="modal fade" data-bind="attr.id: targetID">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">List of position</h4>
                </div>
                <div class="modal-body">
                    <table class="table  mails tableForPopUpPosts">
                        <tbody>
                    <!-- ko template: {name: 'posts-in-popup', foreach: body} -->
                    <!-- /ko -->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/html" id="posts-in-popup">
    <tr>
        <td>{{position_organization}}</td>
        <td title="{{position_full_name}}">{{position_short_name}}</td>
        <td>{{full_name}}</td>
    </tr>
</script>
<!-- /ko -->

<script type="text/html" id="mail-folders-tpl">
    <li data-bind=" selected: 'title' ">
        <a data-bind=" attr.href: '/mail#/grid/fold='+title ">{{title}}</a>
    </li>
</script>

<script type="text/html" id="mails-grid-tpl">
    <tr data-bind="click: $root.choosenMail">
        <td><input type="checkbox" name="selectItem"/></td>
        <td>{{title}}</td>
        <td>{{position}}</td>
        <td>{{organization}}</td>
        <td>{{user}}</td>
        <td>{{date}}</td>
    </tr>
</script>

<script type="text/html" id="mail-attach-tpl">
    <div class="mail-attachment">
        <p>
            <span><i class="fa fa-paperclip"></i> Attachments - </span>
            <a href="#">Download</a>
        </p>

        <div class="file-box">
            <div class="file">
                <a href="#">
                    <span class="corner"></span>

                    <div class="thumbnail">
                        <img data-src="holder.js/100%x180" alt="...">
                    </div>
                    <div class="file-name">
                        {{attachName}}
                    </div>
                </a>
            </div>
        </div>
        <div class="attachment">
            <div class="file-box">
                <div class="file">
                    <a href="#">
                        <span class="corner"></span>

                        <div class="icon">
                            <i class="glyphicon glyphicon-file"></i>
                        </div>
                        <div class="file-name">
                            {{attachName}}
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>
[% endblock %]