[% extends 'layout.html' %]

[% block body%]


<div class="container">

    <div class="starter-template">
        <h1>Mail Page!</h1>

        <!--Folders View-->
        <div class="mail_menu" id="mail-folders">
            <span data-bind="if: displayMoveIcons"><i class="glyphicon glyphicon-chevron-left move" id = "left-move" data-bind="click: left"></i></span>
            <div id="slider">
        <ul class="nav nav-tabs mail-folders1" id = "ul-slider">
            <!-- ko uniqueTemplate: {name: 'mail-folders-tpl', foreach: data}, objectBool: true -->
            <!-- /ko -->
        </ul>
            </div>
            <span data-bind="if: displayMoveIcons"><i class="glyphicon glyphicon-chevron-right move" id = "right-move" data-bind="click: right"></i></span>

        <ul class="nav nav-tabs mail-folders2">
            <li><a href="#" data-toggle="modal" data-target="#myModal2" data-bind=" popup "><i class="glyphicon glyphicon-plus"></i></a></li>
            <li><a href = "#"><i class="glyphicon glyphicon-wrench"></i></a></li>
            <li class="new-massage" data-bind=" selected: 'New Message', click: createNewMessage "><a href = "#/new">New Message</a></li>
        </ul>
        </div>

        <!--Grid View-->
        <div id="mails-grid" data-bind="viewSwitch: 'grid' ">
            <form class="form-inline" role="form">
                <div class="row-fluid mailFiltersForm">
                    <label for="visibleForm" class="labelForVisibleForm"><h2>Filters</h2></label>
                    <input type="checkbox" id="visibleForm">

                    <div class="filters">
                        <div class="span1">
                            <label class="sr-only" for="subject">Subject</label>
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                        </div>
                        <div class="span1">
                            <label class="sr-only" for="position">Position</label>
                            <input type="text" class="form-control" id="position" placeholder="Position">
                        </div>
                        <div class="span1">
                            <label class="sr-only" for="organization">Organization</label>
                            <input type="text" class="form-control" id="organization" placeholder="Organization">
                        </div>
                        <div class="span1">
                            <label class="sr-only" for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="span1">
                            <label class="sr-only" for="date">Date</label>
                            <input type="text" class="form-control" id="date" placeholder="Date">
                        </div>
                        <div class="span1">
                            <button type="submit" class="btn btn-default">Filter</button>
                            <button type="submit" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
            <table class="table mails">
                <tr>
                    <th><input type="checkbox" name="selectAll"/></th>
                    <th>Subject</th>
                    <th>Position</th>
                    <th>Organization</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                <!-- ko template: {name: 'mails-grid-tpl', foreach: data} -->
                <!-- /ko -->
            </table>
        </div>
    </div>

    <!--Message View-->
    <div class="col-lg-12" id="single-mail" data-bind="viewSwitch: 'message' ">
        <!-- ko with: messageData -->
        <div class="mail-box-header">
            <div class="pull-right tooltip-demo">
                <a href="mail_compose.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"
                   title="" data-original-title="Reply"><i class="glyphicon glyphicon-arrow-left"></i> Reply</a>
                <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title=""
                   data-original-title="Move to trash"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
            <h2>
                View Message
            </h2>

            <div class="mail-tools tooltip-demo m-t-md">
                <h3>
                    <span class="font-noraml">Subject: </span>{{mail_title}}
                </h3>
                <h5>
                    <span class="pull-right font-noraml">{{mail_date}}</span>
                    <span class="font-noraml">From: </span>{{sender_position_name}} | {{sender_organization_name}} |
                    {{sender_user_full_name}}
                </h5>
            </div>
        </div>
        <div class="mail-box">
            <div class="mail-body" data-bind="html: mail_body">
            </div>
            <div class="mail-body text-right tooltip-demo">
                <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="glyphicon glyphicon-arrow-left"></i>
                    Reply</a>
                <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="glyphicon glyphicon-share-alt"></i>
                    Forward</a>
                <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash"
                        class="btn btn-sm btn-white"><i class="glyphicon glyphicon-trash"></i> Remove
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /ko  -->
    </div>
</div>

<!--New Message View-->
<div class="container" id = "newmail" data-bind="viewSwitch: 'new' ">
    <div class="starter-template">
        <div>
            <form class="form-inline" role="form" data-bind="submit: saveLetter">
                <div class="row-fluid wrapper-box">
                        <label class="labelForNew">Subject:</label>
                        <input type="text" placeholder="Enter title" class="form-control title" data-bind = "value: title" required="" autofocus=""><br>

                        <label class="labelForNew">Recipient:</label>
                        <button onclick = "return false" class="btn btn-white" data-toggle="modal" data-target="#myModal" data-bind=" popup: '/api/positions.json' "><i class='glyphicon glyphicon-plus'></i> Add</button>
                        <button class="btn btn-white"><i class="glyphicon glyphicon-book"></i> Address book</button>
                        <table class="table  mails adress-book">
                            <thead>
                                <tr>
                                    <th>Position organization</th>
                                    <th>Position name</th>
                                    <th>Full name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id = "chosenmail">
                            <!-- ko uniqueTemplate: {name: 'chosen-mail', foreach: items } -->
                            <!-- /ko -->
                            </tbody>
                        </table>

                        <label class="labelForNew">Message Text:</label><br>
                        <textarea rows="5" data-bind = "value: bodyLetter" class="form-control textarea"  placeholder="Enter text"></textarea><br>

                        <label class="labelForNew">Attach File:</label>
                        <a class="btn btn-white" title="Max size: 1.95 Gb"><i class="glyphicon glyphicon-file"></i></a></a><br>

                    <button type = "submit" class="btn  btn-white main-button right"><i class = "glyphicon glyphicon-send send"></i> Send</button>
                    <button class="btn  btn-white main-button right" data-bind = "click: resetLetter"><i class="glyphicon glyphicon-trash"></i> Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

[% endblock %]

[% block tpls %]

<script type="text/html" id="myModal-tpl">
    <div class="modal fade" data-bind="attr.id: myModal.targetID">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click:reset">&times;</button>
                    <h4 class="modal-title">Add recipients</h4>
                </div>
                <div class="modal-body">
                    <table class="table  mails tableForPopUpPosts">
                        <form class="form-inline" role="form">
                            <div class="row-fluid mailFiltersForm">
                                <div class="filters">
                                    <div class="span1">
                                        <input type="text" placeholder="Position organization" class="form-control" data-bind = "value: $root.activeFilters.position_organization_name">
                                    </div>
                                    <div class="span1">
                                        <input type="text" placeholder="Position name" class="form-control" data-bind = "value: $root.activeFilters.position_short_name">
                                    </div>
                                    <div class="span1">
                                        <input type="text" placeholder="Full name" class="form-control" data-bind = "value: $root.activeFilters.position_user_full_name">
                                    </div>
                                    <div class="span1">
                                        <input type="button" value="Find" class="btn btn-default find" data-bind="click: setActiveFilter">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <tbody>
                    <!-- ko template: {name: 'posts-in-popup', foreach: filters} -->
                    <!-- /ko -->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn  btn-white main-button" data-bind="click:$root.check" data-dismiss="modal" aria-hidden="true">Select</button>
                    <button class="btn  btn-white main-button" data-bind="click:reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="myModal1-tpl">
    <div class="modal fade" data-bind="attr.id: myModal1.targetID">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Notification</h4>
                </div>
                <div class="modal-body">
                    Letter is relocated to "Archive" folder
                </div>
                <div class="modal-footer">
                    <button class="btn  btn-white main-button" class="close" data-dismiss="modal" aria-hidden="true">Ok</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="myModal2-tpl">
    <div class="modal fade" data-bind="attr.id: myModal2.targetID">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Enter new folder name:</h4>
                </div>
                <div class="modal-body">
                    <input type = "text" class="form-control" placeholder="Enter name" id = "NewFolderName">
                </div>
                <br>
                <div class="modal-footer">
                    <button class="btn  btn-white main-button" data-bind="click: $root.addFolderName" class="close" data-dismiss="modal" aria-hidden="true">Add</button>
                    <button class="btn  btn-white main-button" class="close" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="posts-in-popup">
    <tr>
        <td class="inp-check"><input type = "checkbox" data-bind=" checked: $root.chosenItems, checkedValue: $data"></td>
        <td class="small" data-bind="click: $root.label">{{position_organization_name}}</td>
        <td data-bind="attr.title: position_full_name, click: $root.label">{{position_short_name}}</td>
        <td data-bind="click: $root.label">{{position_user_full_name}}</td>
    </tr>
</script>

<script type="text/html" id="chosen-mail">
    <tr>
        <td class="td">{{position_organization_name}}</td>
        <td data-bind="attr.title: position_full_name">{{position_short_name}}</td>
        <td>{{position_user_full_name}}</td>
        <td data-bind="click: $root.deleteElement" class="delete"><i class="glyphicon glyphicon-remove"></i></td>
    </tr>
</script>
<!-- /ko -->

<script type="text/html" id="mail-folders-tpl">
    <li data-bind=" selected: 'folder_title' ">
        <a data-bind=" attr.href: '/mail#/grid/fold='+folder_title ">{{folder_title}}</a>
    </li>
</script>

<script type="text/html" id="mails-grid-tpl">
    <tr>
        <td data-bind="click: $root.choosenMail"><input type="checkbox" name="selectItem"/></td>

        <td data-bind="click: $root.choosenMail">{{mail_title}}</td>
        <td data-bind="click: $root.choosenMail">{{sender_position_name}}</td>
        <td data-bind="click: $root.choosenMail">{{sender_organization_name}}</td>
        <td data-bind="click: $root.choosenMail">{{sender_user_full_name}}</td>
        <td data-bind="click: $root.choosenMail">{{mail_date}}</td>
        <td data-bind="click: $root.updateMail" class="delete"><i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal1" data-bind=" popup "></i></td>

    </tr>
</script>

<script type="text/html" id="mail-attach-tpl">
    <div class="mail-attachment">
        <p>
            <span><i class="fa fa-paperclip"></i> Attachments - </span>
            <a href="#">Download</a>
        </p>

        <div class="file-box">
            <div class="file">
                <a href="#">
                    <span class="corner"></span>
                    <div class="thumbnail">
                        <img data-src="holder.js/100%x180" alt="...">
                    </div>
                    <div class="file-name">
                        {{attachName}}
                    </div>
                </a>
            </div>
        </div>
        <div class="attachment">
            <div class="file-box">
                <div class="file">
                    <a href="#">
                        <span class="corner"></span>

                        <div class="icon">
                            <i class="glyphicon glyphicon-file"></i>
                        </div>
                        <div class="file-name">
                            {{attachName}}
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>
[% endblock %]