[% extends 'layout.html' %]

[% block body%]
<div id="test-popup">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-bind=" popup: '/api/positions.json' ">
        Посмотреть демо
    </button>
</div>

[% endblock %]

[% block tpls %]
<script type="text/html" id="popup-tpl">
    <div class="modal fade" data-bind="attr.id: targetID">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
    {{body}}
    </div>
    <div class="modal-footer">

            </div>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>

[% endblock %]