i{
  color:black;
}
.wrapper-box{
  text-align: left;
  padding: 20px;
  border:1px solid  #b6b6b6;
  padding-bottom: 80px;

  a{
    color: #645c57;
  }

  @mixin marginForNew(){
    margin: 8px 0;
  }
  .labelForNew{
    margin-left: 3px;
    margin-top:20px;
    display: inline-block;
    margin-right: 8px;
    font-weight: normal;
  }
  .textarea{
    width: 97%;
  }
  span{
    font-size: 10px;
  }
  .main-button{
    margin-top: 15px; ;
  }
}
.tableForPopUpPosts{
  tr{
    cursor: pointer;
  }
  border-bottom: 1px solid #ddd;
}
.adress-book{
  margin-top: 5px;
  margin-bottom: 0;
  border-bottom:1px solid #ddd;
  width:97%;
}
.td{
  width: 40%;
}
.inp-check{
  width: 15px;
}
.delete{
  cursor: pointer;
}
.modal-content{
  width: 730px;
  margin: 40% auto 0 auto;
}

.modal-header{
  border-bottom: 0;
  padding-bottom:5px;
}
.modal-body{
  padding-top:0;
  padding-bottom: 0;
}
.modal-footer{
  border-top:0;
  padding-top: 0;
}
.wrapper-box .title{
  margin-left: 1%;
  width: 90%;
}
.find{
  margin-bottom: 3px;
}
.right{
  float: right;
  margin-left: 5px;
  position: relative;
  right: 30px;
}

