.wrapper-box{
  text-align: left;
  padding: 20px;
  border:1px solid  #b6b6b6;

  a{
    color: #645c57;
  }

  @mixin marginForNew(){
    margin: 8px 0;
  }
  .labelForNew{
    margin-left: 3px;
    display: inline-block;
    margin-right: 8px;
    font-weight: normal;
  }
  textarea{
    width: 100%;
  }
  span{
    font-size: 10px;
  }
  .main-button{
    margin-top: 15px; ;
  }
  .wrapperDiv{
    border:1px solid  #b6b6b6;
    padding:10px 3px;
    @include marginForNew();
    .labelForNew{
      margin-right: 8px;
      font-weight: normal;
    }
  }
}
.tableForPopUpPosts{
  td:first-child{
    width: 1%;
  }
  td{
    width: 5%;
  }
}

.modal-content{
  left:-10%;
}

